h1 {
    margin: 1.8em 0;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.Mubtada, .Kabr {
    color: green;
}

.Kabr, .Mafoo_bihi {
    font-weight:bold
}

.Fil, .Fial, .Mafoo_bihi {
    color: red;
}

.Fial {
    font-style: italic;
}

.words {
    font-size: 20px;
}

.bold {
    font-weight:bold;
}


.apply-selected {
    border: 1px solid black !important
}

.apply-ism {
    color: green !important
}

.apply-fil {
    color: red !important
}

.apply-harf {
    color: blue !important
}

button.pure-menu-link {
    background:none!important;
     border:none;
     padding:0!important;

    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     text-decoration:underline;
     cursor:pointer;
}

.pure-menu-link {
    cursor: pointer;
}

.question-chip {
    color: rgba(0,0,0,.75);
}

.md-chip-icon.icon-unanswered {
    background: #aaa;
}