body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

p {
    margin: 0;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.Mubtada, .Kabr {
    color: green;
}

.Kabr, .Mafoo_bihi {
    font-weight:bold
}

.Fil, .Fial, .Mafoo_bihi {
    color: red;
}

.Fial {
    font-style: italic;
}

.words {
    font-size: 20px;
}

.bold {
    font-weight:bold;
}