img {
  margin: 20px 0;
  max-width: 200px;
}

.Mubtada, .Kabr {
    color: green;
}

.Kabr, .Mafoo_bihi {
    font-weight:bold
}

.Fil, .Fial, .Mafoo_bihi {
    color: red;
}

.Fial {
    font-style: italic;
}

.words {
    font-size: 20px;
}

.bold {
    font-weight:bold;
}


.apply-selected {
    border: 1px solid black !important
}

.apply-ism {
    color: green !important
}

.apply-fil {
    color: red !important
}

.apply-harf {
    color: blue !important
}
